# Зависимости и сборки
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
coverage/

# Системные файлы
.git/
.gitignore
.DS_Store
.idea/
.vscode/

# Конфигурации и секреты
.env
.env.*
!.env.example
service-account.json
*.pem
*.key

# Базы данных
*.sqlite
*.db

# Докер-артефакты
Dockerfile
docker-compose*.yml
.dockerignore

# Медиа и временные файлы
*.mp4
*.mp3
*.log
*.tmp
