# node modules и кэш
node_modules/
.cache/
.cache-loader/
npm-debug.log*

# системные файлы
.DS_Store
Thumbs.db

# логи
*.log
logs/

# локальные базы данных
*.sqlite
*.db
*.db-journal

# приватные ключи и учётки
.env
.env.*.local
service-account.json

# VSCode и IDE
.vscode/
.idea/

# временные
tmp/
.cache/
.cache-loader/
dist/
build/
coverage/